<template>
  <div class="about">
    <h2>This is a question dasboard website for handling maretarium game questions</h2>
    <p>Please contact maretarium game team regarding issues to question management at maretariumgame@gmail.com</p>
  </div>
</template>
