<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout column>     
        <v-select
        @change="getPoolQuestions" v-model="selected"
            :items="options"
            label="Valitse Allas"
          >PoolSelection</v-select>

        <v-btn v-if="selected"
                @click="addQuestion"
                fixed
                dark
                fab
                bottom
                right
                color="pink"
              >
                <v-icon>add</v-icon>
              </v-btn>

          <h3 v-if="error_happened && show">
            {{error_code}}
          </h3>



    <ul v-if="show">
        <li v-for="(data,index) in reverseItems" :key='index'>
          <question-card  v-on:remove-entry='deleteQuestion(index,$event)' :questionID="data.questionID" :question="data.question" v-bind:ranswer="data.ranswer" :wanswer1="data.wanswer1" :wanswer2="data.wanswer2" :wanswer3="data.wanswer3" :oldCard="true" />
        </li>
   </ul>
   
        </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<script>
import QuestionCard from '.././components/QuestionCard.vue'
import API from '../API.js';
export default {
  name: 'Questions',
  components: {
  QuestionCard
  },
computed: {
    reverseItems: function () {
      return this.questions.slice().reverse()
    }
  },
  methods: {
    selectPoolCode () {
      let poolcode
      switch (this.selected) {
        case 'Suomenlahti':
          poolcode = 351
          break
        case 'Kymijoki':
          poolcode = 467
          break
        case 'Itämeri-Yläkerta':
          poolcode = 892
          break
        case 'Itämeri-Alakerta':
          poolcode = 891
          break
        case 'Keski-Suomi':
          poolcode = 631
          break
        case 'Lappi- ja Keski-Suomi':
          poolcode = 632
          break
        case 'Hauki-allas':
          poolcode = 753
          break
        case 'Karppi-allas':
          poolcode = 123
          break
        case 'Sammakot ja Matelijat':
          poolcode = 552
          break
        case 'Ulko-allas':
          poolcode = 345
          break
        default:
          break
      }
      return poolcode
    },

    getPoolQuestions () {
      this.questions.splice(0)
      let poolcode = this.selectPoolCode()
      console.log(poolcode)
       API.readQuestionData (poolcode,'eng').then(result => {
         console.log(result.length)
          result.forEach(element => {
          if (element.hasOwnProperty("key"))
          this.questions.push({
              questionID: element["key"],
              question: element["data"].Question,
              ranswer: element["data"].Ranswer,
              wanswer1: element["data"].Wanswer1,
              wanswer2: element["data"].Wanswer2,
              wanswer3: element["data"].Wanswer3
            })
          })
       })
    },
    
    deleteQuestion (listid, questionID) {
      if(this.questions.length > 3) {
         this.error_happened = false,
      console.log(questionID)
      let poolcode = this.selectPoolCode()
      API.removeQuestion(poolcode, questionID)
      this.questions.splice(this.questions.length - listid - 1, 1)
      this.rerender(); 
      }else{
        this.error_code = "Error: Please have at least 4 questions before deleting";
        this.error_happened = true;
        setTimeout(function(){ this.error_happened = false}.bind(this), 3000);
       
      }
     
    },
  
    addQuestion () {
          console.log("question Added")
          let poolcode = this.selectPoolCode();
          let qid = this.questions[this.questions.length -1].questionID;
          let qnumber =0;
          if(qid.length <  3)qnumber = parseInt(qid.substr(1),10);
            else {
              qnumber = parseInt(qid.substr(6),10)
            }
        qnumber = qnumber+1;

        let newQuestionid = "q_"+ poolcode+"_"+ qnumber;      
           this.questions.push({
              questionID: newQuestionid,
              question: '',
              ranswer: '',
              wanswer1: '',
              wanswer2: '',
              wanswer3: ''
            })
            API.addQuestionToPool(poolcode,newQuestionid);
            this.rerender();    
    },

     rerender(){
                this.show = false
                this.$nextTick(() => {
                    this.show = true
                    console.log('re-render start')
                    this.$nextTick(() => {
                        console.log('re-render end')
                    })
                })
            }




  },

  data () {
    return {
      error_happened : false,
      error_code:'',
      question_text: '',
      selected: '',
      dialog: false,
      show:true,
      alertDialog: {
        alert: true
      },
      options: [{
        text: 'Suomenlahti'
      },
      {
        text: 'Kymijoki'
      },
      {
        text: 'Itämeri-Yläkerta'
      },
      {
        text: 'Itämeri-Alakerta'
      },
      {
        text: 'Keski-Suomi'
      },
      {
        text: 'Lappi- ja Keski-Suomi'
      },
      {
        text: 'Hauki-allas'
      },
      {
        text: 'Karppi-allas'
      },
      {
        text: 'Sammakot ja Matelijat'
      },
      {
        text: 'Ulko-allas'
      }
      ],

      questions: []
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 10;
}
li {
  display: inline-block;
  margin: 10px;
}
a {
  color: #42b983;
}
</style>
