<template>
  <div class="login">
<v-container fluid>  
    <div class="row">
        <h2>Login Page </h2>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-md-offset-3">

            <v-text-field
              v-model="formData.email"
              :type="'email'"
              label="Email"
            ></v-text-field>

                  <v-text-field
              v-model="formData.password"
              :type="'password'"
              label="Password"
            ></v-text-field>
            <br>
             <v-btn color="success" @click="logIn">Login </v-btn>
        </div>

    </div>
</v-container>
  </div>
</template>

<script>
import firebase from 'firebase/app'
import 'firebase/auth'
export default {
  name: 'LogIn',
data() {
    return {
        formData:{
            email:'',
            password:''
        }
    }
},
methods: {
    logIn() {
        firebase.auth().signInWithEmailAndPassword(this.formData.email,this.formData.password)
        .then((user)=>{
        this.$router.replace('/home')
        })
        .catch((e)=>{
            alert(e.message);
        })
    }
}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
