<template>
  <div class="questioncard">
    <v-card>
            <v-card-actions>
            <div  v-if="m_language === 'eng' && !editable">
            <v-btn v-on:click='chooseLanguage("eng")' color="orange">English</v-btn>
            <v-btn v-on:click='chooseLanguage("fin")' flat color="orange">Finnish</v-btn>
            </div>
            <div v-if="m_language === 'fin' && !editable">
            <v-btn v-on:click='chooseLanguage("eng")' flat color="orange">English</v-btn>
            <v-btn v-on:click='chooseLanguage("fin")' color="orange">Finnish</v-btn>

            </div>
          </v-card-actions>
            <div v-if="m_wrong_value && !editable">
              <h2>
                Edit error: Check input field values
              </h2>
            </div>

          <v-list>
           <div v-if="!editable">
          <v-card-title>
            Question: <br>
            {{m_question}}</v-card-title>           
                </div>
                 <div v-else>
            <v-text-field
            v-model="m_question"
            label="Question"
            > </v-text-field>

                   </div>

              <v-list-tile >
        <v-list-tile-content>
                <v-list-tile-title>Correct answer:</v-list-tile-title>
                <div v-if="!editable">
                <v-list-tile-sub-title>{{m_ranswer}}</v-list-tile-sub-title>
                </div>
                 <div v-else>
   <v-text-field
            v-model="m_ranswer"
            label="Correct Answer"
            > </v-text-field>
                               </div>
              </v-list-tile-content>
              </v-list-tile>
                <v-list-tile >
                <v-list-tile-content>
                    <v-list-tile-title >Option 1:</v-list-tile-title>
                   <div v-if="!editable">
                <v-list-tile-sub-title>{{m_wanswer1}}</v-list-tile-sub-title>
                </div>
                 <div v-else>
   <v-text-field
            v-model="m_wanswer1"
            label="Option 1"
            > </v-text-field>
                               </div>
              </v-list-tile-content>
              </v-list-tile>
     
                <v-list-tile >
                <v-list-tile-content>
                    <v-list-tile-title>Option 2:</v-list-tile-title>
                         <div v-if="!editable">
                <v-list-tile-sub-title>{{m_wanswer2}}</v-list-tile-sub-title>
                </div>
                 <div v-else>
   <v-text-field
            v-model="m_wanswer2"
            label="Option 2"
            > </v-text-field>
              </div>
              </v-list-tile-content>
              </v-list-tile>
                       <v-list-tile >
                <v-list-tile-content>
                    <v-list-tile-title>Option 3:</v-list-tile-title>
                <div v-if="!editable">
                <v-list-tile-sub-title>{{m_wanswer3}}</v-list-tile-sub-title>
                </div>
                 <div v-else>
   <v-text-field
            v-model="m_wanswer3"
            label="Option 3"
            > </v-text-field>                   </div>              
                </v-list-tile-content>
              </v-list-tile>

          </v-list>

            <div v-if="oldCard">
            <v-btn v-if="!editable &&InfoEdited"  v-on:click="saveQuestion()" color="info">Send</v-btn>
            <v-btn v-on:click="editAnswers()" v-if="!editable" color="warning">Edit</v-btn>
            <v-btn v-on:click="editAnswers()" v-if="editable" flat color="warning">Save Changes</v-btn>

            <v-btn color="error" v-if="!editable"
            v-on:click="removeThis"
            >Delete</v-btn>
            </div>
            

        </v-card>   
  </div>
</template>

<script>
import API from '../API'
export default {
  name: 'QuestionCard',
   props: {
    oldCard : Boolean,
    questionID: String | Number,
    question: String,
    ranswer: String | Number,
    wanswer1: String | Number,
    wanswer2: String | Number,
    wanswer3: String | Number
  },
data: function () {
    return {
      InfoEdited:false,
      m_wrong_value : false,
      editable: false,
      m_language: "eng",
      m_question : this.question,
      m_ranswer: this.ranswer,
      m_wanswer1: this.wanswer1,
      m_wanswer2: this.wanswer2,
      m_wanswer3: this.wanswer3,
    }
  },
  methods: {
    removeThis: function() {
      this.$emit('remove-entry', this.questionID)
    },

    checkInputLength : function() {
      let minlength = 1;
      if (!this.editable && this.questionID.length > minlength && this.m_question.length > minlength
      && this.m_ranswer.length > minlength && this.m_wanswer1.length > minlength
      && this.m_wanswer2 .length > minlength && this.m_wanswer3 .length > minlength) {
        this.m_wrong_value = false
      } else {
        this.m_wrong_value = true;
      }
    },

    saveQuestion: function() {

      this.checkInputLength();
      if(!this.m_wrong_value) {
       API.saveQuestion(this.m_language,this.questionID,this.m_question,this.m_ranswer,this.m_wanswer1,this.m_wanswer2,this.m_wanswer3);
       this.InfoEdited = false;
      }
    },
    editAnswers: function() {
      this.editable = !this.editable
       this.checkInputLength();
       if(this.editable) {
         this.InfoEdited = false;
         }
         else {
           this.InfoEdited = true;
         }

    },
    chooseLanguage: function(current_language) {
        this.m_language = current_language;
        this.InfoEdited = false;
        API.fetchQuestionData(this.m_language,this.questionID).then(qdata=>{
      this.m_question = qdata.Question;
       this.m_ranswer = qdata.Ranswer;
       this.m_wanswer1 = qdata.Wanswer1;
       this.m_wanswer2 = qdata.Wanswer2;
       this.m_wanswer3 = qdata.Wanswer3;
        })

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
