<template>
  <v-app>
    <v-toolbar
      app
      :clipped-left="clipped"
    >

      <v-toolbar-title v-text="title"></v-toolbar-title>
      <v-spacer></v-spacer>

        <router-link to="/home">
      <v-btn >
        <v-icon>home</v-icon>
      </v-btn>
        </router-link>
          <router-link to="/questions">
      <v-btn >
        <v-icon>list</v-icon>
      </v-btn>
        </router-link>
       <v-btn @click="logOut" >
        <v-icon>exit_to_app</v-icon>
      </v-btn>
      <router-link to="/about">
      <v-btn>
        <v-icon>info</v-icon>
       
      </v-btn>
        </router-link>
    </v-toolbar>
    <v-content>
      <router-view/>
    </v-content>
    <v-footer :fixed="fixed" app>
      <span>&copy; Maretarium App 2018</span>
    </v-footer>
  </v-app>
</template>
<script>
import firebase from 'firebase/app'
import 'firebase/auth'

export default {
  name: 'App',
  data () {
    return {
      clipped: false,
      drawer: true,
      fixed: false,
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Maretarium App dashboard'
    }
  },
  methods: {
    logOut() {
      firebase.auth().signOut()
      .then(()=> {
        this.$router.replace('/login')
      })
    }
  }
}
</script>
